/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #f9f9f9;
}

.mail {
    display: none;
}

.image > img {
    position: relative;
}

.image > p {
    position: absolute;
    top: 552px;
    left: 120px;
    background-color: yellow;
    border: 1px solid #000;
}

/* 手機擺正 */
@media only screen and (orientation: portrait) and (max-width: 414px) {
    .mail {
        display: none;
    }
}

/* 手機橫擺 */
@media only screen and (orientation: landscape) and (max-width: 812px) {
    body {
        height: 384px;
        background: repeating-linear-gradient(
            45deg,
            #f0f0f0 10px, 
            #f0f0f0 20px,
            #58c 20px, 
            #58c 30px,
            #f0f0f0 30px, 
            #f0f0f0 40px,
            #e55 40px,
            #e55 50px
        );
    }

    .mail {
        font-family: 'Reenie Beanie';
        background: #f9f9f9;
        font-size: 30px;
        margin: 30px;
        padding: 10px;
        height: 354px;
        display: block;
    }

    .image {
        display: none;
    }
}

.text-center {
    text-align: center;
    padding: 140px;
}

.text-right {
    text-align: right;
}